/* Write your CSS here */
.item-img {
  width: 250px;
  height: 160px;
  cursor: pointer;
}
.popup-content {
  background-color: #ffffff;
  width: 700px;
  height: 390px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
}
.player-container {
  width: 100%;
}
